<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.misw4203.grupo7.vinilos">

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission
        android:name="co.misw4203.grupo7.vinilos.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <uses-permission android:name="co.misw4203.grupo7.vinilos.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" />

    <application
        android:debuggable="true"
        android:label="@string/app_name">
        <activity
            android:name="co.misw4203.grupo7.vinilos.ui."
            android:exported="true"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="co.misw4203.grupo7.vinilos.ui.performer." />
        <activity
            android:name="co.misw4203.grupo7.vinilos.ui.albums." />

        <provider
            android:name="androidx.startup."
            android:authorities="co.misw4203.grupo7.vinilos.androidx-startup">
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup" />
        </provider>

        <uses-library
            android:name="androidx.window.extensions" />
        <uses-library
            android:name="androidx.window.sidecar" />

        <receiver
            android:name="androidx.profileinstaller.">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE" />
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>